# large data
*.h5ad
*.h5
*.zarr/
*.tif
*.tiff
*.loom
*.gz
*.zip
*.pkl
*.pdf
*.png
*.out
*.e
*.parquet
*.gmt
*.out
*.o
*.html
*.rnk

# outputs
figures/
data_in/
tables/
logs/

# python
__pycache__/
.ipynb_checkpoints/
*.pyc

